<div class="bg-gray-200">
  <div class="">
    <h2>A props de moi</h2>
    <p>Passione par le developpement depuis plus de 5 and, je cree des applications web moderne et performantes</p>
    <p>Je suis specialise dans le developpement d'application web avec une specialisation particuliere en Angular et Go. Mon approche combine creativite et rigueur techniques pour livrer des projets aui repondent parfaitement aux besoins des utilisateurs</p>
    <p>Toujours a l'affut des derniere technologies et methodologies, j'aime relever de nouveaux defis et trouver des solutions innovantes aux probleme complexes.</p>
  </div>
  <div class="">
    <img src="https://picsum.photos/500/500">
  </div>
</div>