<div class="bg-gray-700">
  <div class="">
    <p>Copyright &copy; - 2025</p>
  </div>
  <div class="">
    <ul>
      <li><a>Github</a></li>
      <li><a>Linkedin</a></li>
      <li><a>Malt</a></li>
    </ul>
  </div>
</div>