<div class="bg-gray-200">
  <h2>Contactez-moi</h2>
  <p>Vous avez un projet en tete ? N'hesitez pas a me contacter pour en discuter</p>
  <div class="">
    <form class="">
      <h3>Envoyez moi un message</h3>
      <p>Remplissez le formulaire ci-dessous et je vous repondrais dans les plus brefs delais</p>
      <div class="">
        <input type="text" placeholder="Prenom">
      </div>
      <div>
        <input type="text" placeholder="Nom">
      </div>
      <div class="">
        <input type="text" placeholder="Email">
      </div>
      <div class="">
        <input type="text" placeholder="Sujet">
      </div>
      <div class="">
        <textarea placeholder="Votre message"></textarea>
      </div>
      <div class="">
        <button>Envoyer le message</button>
      </div>
    </form>
    <div class="">
      <h3>Informations de contacts</h3>
      <p>Vous pouvez egalement me contacter directement par email ou Linkedin</p>
      <ul>
        <li><a>contact@mail.com</a></li>
        <li><a>Linkedin</a></li>
        <li>Frejus - France</li>
      </ul>
    </div>
  </div>
</div>