<div class="bg-red-200" id="projects">
  <div class="">
    <h2>Mes projets</h2>
    <p>Decouvrez une selection de mes derniere realisation</p>
  </div>
  <div class="">
    <div class="">
      <img src="https://picsum.photos/500/500">
    </div>
    <div class="">
      <h3>E-commerce moderne</h3>
      <p>Une plateforme e-commerce complete avec panier, paiement, et gestion des commandes</p>
      <div class="">
        <ul>
          <li>React</li>
          <li>Tailwind</li>
          <li>Strip</li>
          <li>Go</li>
        </ul>
      </div>
      <div class="">
        <a href="#">Demo</a>
        <a href="#">Code</a>
      </div>
    </div>
  </div>
  <div class="">
    <div class="">
      <img src="https://picsum.photos/500/500">
    </div>
    <h3>Application de gestion de taches</h3>
    <p>Application permettant de gerer des projets et des taches avec des fonctionnalites collaboratives</p>
    <div class="">
      <ul>
        <li>Angular</li>
        <li>Tailwind</li>
        <li>Go</li>
      </ul>
    </div>
    <div class="">
      <a href="#">Demo</a>
      <a href="#">Code</a>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <img src="https://picsum.photos/500/500">
  </div>
  <h3>Dashboard analytique</h3>
  <p>Interface d'administration avec visualisation de donnees et rapports en temps reel</p>
  <div class="">
    <ul>
      <li>React</li>
      <li>Tailwind</li>
      <li>Strip</li>
      <li>Go</li>
    </ul>
  </div>
  <div class="">
    <a href="#">Demo</a>
    <a href="#">Code</a>
  </div>
</div>
</div>
</div>