<div class="bg-blue-200">
  <div class="">
    <h2>Mes competences</h2>
    <p>Les technologies et outils que j'utilise pour creer des applications web modernes</p>
  </div>
  <div class="">
    <h3>Frontend</h3>
    <ul>
      <li>Angular</li>
      <li>Astro</li>
    </ul>
  </div>
  <div class="">
    <h3>Backend</h3>
    <ul>
      <li>PHP</li>
      <li>Go</li>
      <li>Python</li>
    </ul>
  </div>
  <div class="">
    <h3>Outils</h3>
    <ul>
      <li>Git</li>
      <li>GitHub Action</li>
      <li>Docker</li>
    </ul>
  </div>
</div>